<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <a href="http://localhost:12001/Menu">
        <img id="btn" class="btn" src="/Resources/USFLag.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="http://localhost:12001/Menu_arm">
        <img id="btn_rus" class="btn" src="/Resources/Flag-Russia.jpg" height="60" width="90" alt="clear" />
    </a>
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Հիմնական</h1>
                        <img class="image" src="/Resources/37.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Աղցաններ</h1>
                        <img class="image" src="/Resources/40.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Աղցաննե</h1>
                        <img class="image" src="/Resources/43.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Տորթեր</h1>
                        <img class="image" src="/Resources/38.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Խավարտներ</h1>
                        <img class="image" src="/Resources/41.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Խավարտներ</h1>
                        <img class="image" src="/Resources/44.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Ըմպելիքներ</h1>
                        <img class="image" src="/Resources/39.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Սոուսներ</h1>
                        <img class="image" src="/Resources/42.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Սոուսներ</h1>
                        <img class="image" src="/Resources/45.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
