@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Main</h1>
                        <img src="/Resources/37.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Salads</h1>
                        <img src="/Resources/40.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Salads</h1>
                        <img src="/Resources/43.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Sweets</h1>
                        <img src="/Resources/38.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Garnishes</h1>
                        <img src="/Resources/41.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Garnishes</h1>
                        <img src="/Resources/44.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Drinks</h1>
                        <img src="/Resources/39.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Sauses</h1>
                        <img src="/Resources/42.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Sauses</h1>
                        <img src="/Resources/45.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
