<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <a href = "@Url.Action("HotRolls","Sushi")" >
        <img id = "btn" class="btn" src="/Resources/USFLag.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href = "@Url.Action("HotRollsArm","Sushi")">
        <img id = "btn_arm" class="btn" src="/Resources/flag-of-armenia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href = "@Url.Action("HotRollsRus","Sushi")">
        <img id = "btn_rus" class="btn" src="/Resources/Flag-Russia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href = "@Url.Action("IndexRus","Sushi")">
        <img id = "btn_back" class="btn" src="/Resources/1024px-Back_Arrow.svg.png" height="90" width="90" alt="clear" />
    </a>
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <h1>Крейзи Эбби  1000</h1>
                    <img class="image" src="/Resources/Sushi/25 տաք ռոլլ քրեզի էբի.png" alt="1">
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <h1>Унаги Яки  700</h1>
                    <img class="image" src="/Resources/Sushi/26 տաք ռոլլ ունագի յակի.png" alt="1">
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <h1>Биф Яки  800</h1>
                    <img class="image" src="/Resources/Sushi/27 տաք ռոլլ բիֆ յակի.png" alt="1">
                </li>
            </ul>
        </div>
    </div>
}
