<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <a href="@Url.Action("Index","Sushi")">
        <img id="btn" class="btn" src="/Resources/USFLag.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("IndexArm","Sushi")">
        <img id="btn_arm" class="btn" src="/Resources/flag-of-armenia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("IndexRus","Sushi")">
        <img id="btn_rus" class="btn" src="/Resources/Flag-Russia.jpg" height="60" width="90" alt="clear" />
    </a>
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("MakiArm","Sushi")">
                        <h1>Մակի</h1>
                        <img class="image" src="/Resources/Sushi/3.մակի ապխտած սաղմոնով.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Տապակած ռոլլեր</h1>
                        <img class="image" src="/Resources/Sushi/28 տապակած ռոլլ էբի տեմպուրա.png" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Տեմակի</h1>
                        <img class="image" src="/Resources/Sushi/41 unagi temaki.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Աղցաններ</h1>
                        <img class="image" src="/Resources/Sushi/53 Աղցան խոզի ականջներով.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Սեթեր</h1>
                        <img class="image" src="/Resources/Sushi/Set.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Ռոլլեր  </h1>
                        <img class="image" src="/Resources/Sushi/12.ռոլլ դրակոն .jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Սուշի</h1>
                        <img class="image" src="/Resources/Sushi/33 Սուշի սաղմոն.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Սաշիմի</h1>
                        <img class="image" src="/Resources/Sushi/47 tuna sashimi.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Ապուրներ</h1>
                        <img class="image" src="/Resources/Sushi/57 Տոմ յան.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.google.com/">
                        <h1>Տաք ռոլլեր</h1>
                        <img class="image" src="/Resources/Sushi/25 տաք ռոլլ քրեզի էբի.png" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Գուն-Կան</h1>
                        <img class="image" src="/Resources/Sushi/40 Սաղմոնով ձկնկիթով գուն կան.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Այլ</h1>
                        <img class="image" src="/Resources/Sushi/51 Պիցցա ծովային տեսականի.jpg" alt="1">
                    </a>
                    <a href="https://www.google.com/">
                        <h1>Վոկ</h1>
                        <img class="image" src="/Resources/Sushi/58 59 60 61.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
