body {
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_item {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row_item:after {
    content: "";
    display: table;
    clear: both;
}
.image {
    width: 100%;
    height: auto;
}
button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img {
    display: block;
    height: 130px;
    width: 100px;
}
#btn {
    display: block;
    position: fixed;
    right: 2.1em;
    top: 47%;
    z-index: 100001;
    width: 90px;
    height: 60px;
    margin: -45px -30px -45px;
    padding: 0;
    cursor: pointer;
}
#btn_arm {
    display: block;
    position: fixed;
    right: 2.1em;
    top: 55%;
    z-index: 100001;
    width: 90px;
    height: 60px;
    margin: -45px -30px -45px;
    padding: 0;
    cursor: pointer;
}
#btn_rus {
    display: block;
    position: fixed;
    right: 2.1em;
    top: 63%;
    z-index: 100001;
    width: 90px;
    height: 60px;
    margin: -45px -30px -45px;
    padding: 0;
    cursor: pointer;
}
#btn_back {
    display: block;
    position: fixed;
    left: 2em;
    top: 55%;
    z-index: 100001;
    width: 90px;
    height: 90px;
    margin: -30px -30px -45px;
    padding: 0;
    cursor: pointer;
}
